{% extends "layout.html" %}

{% block content %}

<h2 class="mb-4"><i class="fas fa-handshake"></i> {{ title }}</h2>

<nav class="navbar navbar-expand-sm navbar-dark bg-proxyally py-0">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('provider_index') }}"><i class="fas fa-table"></i> Back To List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" onclick="populateEditModal()"><i class="fas fa-edit"></i> Edit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i> Delete</a>
        </li>
    </ul>
    <div class="navbar-text ml-auto">
        <button class="btn btn-primary" {{'disabled' if provider['fetcher']=='None'}} onclick="syncProvider(this, '{{provider['id']}}')">
            <i class="fas fa-sync-alt fa-sm text-{{'white' if 'updateAttempt' in provider and provider['updateAttempt']['type']=='syncDB_funcTest' and provider['updateAttempt']['status'] in ['success', 'partial'] else 'danger'}}"></i> Sync Now
        </button>
    </div>
</nav>

<div class="card my-3">
    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-sm-2">
                Friendly Name
            </dt>
            <dd class="col-sm-10">
                <span id="name">{{provider['name']}}</span>
            </dd>
            <dt class="col-sm-2">
                Base Address
            </dt>
            <dd class="col-sm-10">
                <span id="baseAddress">{{provider['baseAddress']}}</span>
            </dd>
            <dt class="col-sm-2" title="Date of the last successful update of the proxy list" data-toggle="tooltip">
                Succesful Update
            </dt>
            <dd class="col-sm-10" >
                {% set _hasAttempt = True if 'updateAttempt' in provider and provider['updateAttempt']['type']=='syncDB_funcTest' and provider['updateAttempt']['status'] in ['success','partial'] else False%}
                <span title="{{provider['updateAttempt']['attemptDate'] if _hasAttempt else ''}}" data-toggle="tooltip">
                    {{provider['updateAttempt']['attemptDate']|timeago_fromiso if _hasAttempt else 'Not Yet'}}
                </span>
            </dd>
            <dt class="col-sm-2" title="Date of the last update attempt"  data-toggle="tooltip">
                Last Actions
            </dt>
            <dd class="col-sm-10">
                {% if 'updateAttempt' in provider %}
                    {% set _type=provider['updateAttempt']['type'] | AttemptType %}
                    {% set _status=provider['updateAttempt']['status'] %}
                    {% set _date=provider['updateAttempt']['attemptDate'] %}
                    {% set _message=provider['updateAttempt']['message'] %}

                    <span data-toggle="tooltip" title="{{'' if _status=='success' else _message}}">
                        <i class="fas fa-plug text-{{'success' if _status=='success' else ('info' if _status=='partial' else 'warning')}}"></i> {{ _type }}
                    </span>
                    <div>
                        <small title="{{_date}}" data-toggle="tooltip">{{_status}} - {{_date|timeago_fromiso}}</small>
                        {% if 'proxyCount' in provider['updateAttempt'] %}
                            {% set _type=provider['updateAttempt']['type'] | AttemptTypePassive %}
                            <small> | {{ _type + ': ' + provider['updateAttempt']['proxyCount'] }}</small>
                        {% endif %}
                    </div>
                {% else %}
                    None
                {% endif %}
            </dd>
        </dl>
        <div class="font-weight-bold">
            Fetch Instructions
        </div>
        <div class="" title="details on extracting the HTTP(S) proxy addresses from the list">
            <small>Fetch Script: </small><span class="badge badge-info bg-proxyally" id="fetcher">{{provider['fetcher']}} </span>
            <div class="card-body bg-light my-2">
                <code>
                    {% autoescape false %}
                        <span id="instructions">{{provider['instructions']}}</span>
                    {% endautoescape %}
                </code>
            </div>
        </div>


        <h4 class="text-center text-proxyally mt-4 mb-md-0">
            - Offered Proxies -
        </h4>

        <div class="table-responsive">
            <table class="table table-hover border-bottom" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            Proxy
                        </th>
                        <th class="text-center">
                            Anonymity Level
                        </th>
                        <th>
                            Last Checked
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="dataTable">
                    {% for proxy in provider['proxies'] %}
                    <tr>
                        <td>
                            <a href="{{ url_for('proxy_details', id=proxy['id']) }}" data-toggle="tooltip" title="Details"><i class="fas fa-server fa-xs"></i> {{proxy['ip']}}:{{proxy['port']}}</a>
                        </td>
                        <td class="text-center">
                            {{proxy['anonymity'] or '-'}}
                        </td>
                        <td>
                            {{proxy['funcTestDate']|timeago_fromiso or '-'}}
                        </td>
                        <td class="text-right">
                            <div class="btn-group btn-group-lg">
                                <a  href="{{ url_for('proxy_details', id=proxy['id']) }}" class="btn btn-light" data-toggle="tooltip" title="See details"><i class="fas fa-file-alt text-proxyally"></i></a>

                                {% set _upToDate = True if 'funcTestDate' in proxy and proxy['funcTestDate']|is_up_to_date(proxyally_config['maxAge']) else False%}
                                <a class="btn btn-light" data-toggle="tooltip" title="{{'Up-To-Date: Test Again?' if _upToDate else 'Stale. Test now?'}}"  onclick="syncProxy(this, '{{proxy['id']}}')">
                                    <i class="fas fa-check text-{{'primary' if _upToDate else 'danger'}}"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <div class="card-footer bg-proxyally-light">
        <div class="py-3 my-1"></div>
    </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-proxyally">
                <h4 class="modal-title"><i class="fas fa-edit"></i> Edit Provider</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="card-body">
                    <div class="form-group">
                        <label for="baseAddress_edit">Base Address</label>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter proxy list provider's address" id="baseAddress_edit" name="baseAddress_edit">
                            <div class="input-group-append">
                                <a id="pasteButton" class="btn btn-light border" href="#" onclick="readFromClipboard()" data-toggle="tooltip" title="Click to paste from clipboard"><i class="fas fa-paste text-proxyally"></i></a>
                            </div>
                        </div>
                        <div id="urlError" class="mb-3"></div>
                    </div>

                    <div class="form-group">
                        <label for="name_edit">Name <i class="fas fa-info-circle text-proxyally" title="Optional field :: Auto-generated if not provided" data-toggle="tooltip"></i></label>
                        <input type="text" class="form-control" placeholder="Enter a friendly name" id="name_edit" name="name_edit">
                    </div>

                    <div class="form-group">
                        <label for="fetcher_edit">Fetcher  <i class="fas fa-info-circle text-proxyally" title="Leave it as 'None' if no suitable fetcher exists yet. Provide us comprehensive instructions and we will soon be back with a working fetcher" data-toggle="tooltip"></i></label>
                        <select id="fetcher_edit" name="fetcher" class="custom-select">
                            <option value="None" selected>None</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="instructions_edit">Instruction</label>s
                        <textarea class="form-control" placeholder="Hints for extracting proxies from this list" id="instructions_edit" name="instructions_edit" rows="8"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="syncTestRadioButtons">Proxies <i class="fas fa-info-circle text-proxyally" title="You can sync and test now or later" data-toggle="tooltip"></i></label>
                        <div id="syncTestRadioButtons" class="border p-2 mb-3">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="syncTest1" name="syncTest" value="2">
                                <label class="custom-control-label" for="syncTest1">Test & Sync Now</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="syncTest2" name="syncTest" value="1" checked>
                                <label class="custom-control-label" for="syncTest2">Fetch Now but Test Later</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="syncTest3" name="syncTest" value="0" checked>
                                <label class="custom-control-label" for="syncTest3">Save for Later</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer bg-proxyally-light">
                <button id="edit" type="button" class="btn btn-primary btn-proxyally"><i class="fas fa-save"></i> Save</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fas fa-window-close"></i> Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-trash"></i> Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-center">
                <h4 class="h4"><i class="fas fa-exclamation-triangle text-warning"></i> All the proxies associated with this record will also be deleted.</h4>
                <h5 class="h5">Are you sure want to delete this Provider?</h5>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer bg-proxyally-light">
                <button id="delete" type="button" class="btn btn-danger">Confirm</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>


<!-- Proxy Detail Modal -->
<div class="modal fade" id="proxyDetailModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-proxyally">
                <h4 class="modal-title"><i class="fas fa-check"></i> Basic Functionality Test</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include 'proxy/check.html' %}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer bg-proxyally-light">
                <button id="checkProxy" type="button" class="btn btn-primary btn-proxyally">Check Now</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="/static/lib/datatables/jquery.dataTables.min.js"></script>
<script src="/static/lib/datatables/dataTables.bootstrap4.min.js"></script>
<script>
    var resourceUrl = API_ROOT + '/providers';
    var proxyUrl = API_ROOT + '/proxies';

    /* Detail Page ----------------------------- */
    function syncProvider(elem, providerId) {
        var i = $(elem).find('i');
        i.removeClass("fas fa-sync-alt fa-sm");
        i.addClass("spinner-border spinner-border-sm");

        $.ajax({
            url: resourceUrl + '/' + providerId,
            method: 'patch',
            statusCode: {
                204: function() {
                  alert_bs('Sync performed!', 'info');
                  location.reload();
                }
            },
            error: function (jqXHR) {
                responseJSON = JSON.parse(jqXHR.responseText);
                alert_bs(responseJSON.message, 'danger');
            }
        })
                .always(function() {
                    i.removeClass("spinner-border spinner-border-sm");
                    i.addClass("fas fa-sync-alt fa-sm");
                });
    }

    function syncProxy(elem, proxyId) {
        var i = $(elem).find('i');
        i.removeClass("fas fa-check");
        i.addClass("spinner-border spinner-border-md");

        $.ajax({
            url: proxyUrl + '/' + proxyId,
            method: 'patch',
            statusCode: {
                204: function() {
                  alert_bs('<span class="spinner-border spinner-border-sm"></span> Test performed! Redirecting to detail page ... ', 'info');
                  //location.reload();
                  window.location.replace(APP_ROOT + 'proxy/details/' + proxyId);
                }
            },
            error: function (jqXHR) {
                responseJSON = JSON.parse(jqXHR.responseText);
                alert_bs(responseJSON.message, 'danger');
                location.reload();
            }
        })
                .always(function() {
                    i.removeClass("spinner-border spinner-border-md");
                    i.addClass("fas fa-check");
                });
    }
    /* ----------------------------------------- */

    function readFromClipboard() {
        return navigator.clipboard.readText().then(
            result => {
                //console.log("Successfully retrieved text from clipboard", result)
                elem = document.querySelector('#baseAddress_edit');
                elem.value = result;
                return Promise.resolve(result);
            }
        )
            .catch(
                err => {
                    console.log("Error! read text from clipbaord", err)
                })
    }

    $(document).ready(function () {
        $('#dataTable').DataTable({
            columnDefs: [
                { orderable: false, targets: [-1] }
            ]
        });
    });
    function showUrlError() {
        $('#baseAddress_edit').parent().attr('style', 'border: 1px solid red');
        $('#urlError').show();
        $('#urlError').html('<font color="red">Please enter a valid URL</font>');
    }

    function populateEditModal(){
        $.ajax({
            url: resourceUrl + '/fetchers',
            method: 'GET',
            statusCode: {
                200: function(fetchers) {
                    $('#fetcher_edit').html('');
                    $('#fetcher_edit').append('<option value="None" selected>None</option>')
                    for(i in fetchers){
                        fetcher = fetchers[i];
                        selected = fetcher==$('#fetcher').text().trim()? 'selected': '';
                        $('#fetcher_edit').append('<option value="'+fetcher+'" '+selected+'>'+fetcher+'</option>');
                    }
                }
            },
            error: function (err) { alert_bs(err.statusText, 'danger'); }
        })

        $('#name_edit').val($('#name').text().trim());
        $('#baseAddress_edit').val($('#baseAddress').text().trim());
        $('#instructions_edit').val($('#instructions').text().trim());

        $('#editModal').modal('show');
    }

    $(function () {
        $('#baseAddress_edit').click(function () {
            $('#baseAddress_edit').parent().attr('style', '');
            $('#urlError').hide();
        });

        $('#edit').click(function () {
            if (!isValidURL($('#baseAddress_edit').val())) {
                showUrlError();
                return;
            }
            data = {
                name: $('#name_edit').val(),
                baseAddress: $('#baseAddress_edit').val(),
                fetcher: $('#fetcher_edit').val(),
                instructions: $('#instructions_edit').val()
            };
            $.ajax({
                url: resourceUrl + "/{{provider['id']}}" + '?syncTest=' + $('#syncTestRadioButtons input:checked').first().val(),
                method: 'PUT',
                data: data,
                headers: { ContentType: 'application/json' },
                success: function (data) {
                    $('#name').text($('#name_edit').val());
                    $('#baseAddress').text($('#baseAddress_edit').val());
                    $('#fetcher').text($('#fetcher_edit').val());
                    $('#instructions').text($('#instructions_edit').val());

                    $('#editModal').modal('hide');
                    alert_bs('Update successful!', 'success');
                    if($('#syncTestRadioButtons input:checked').first().val() >=0 ){
                        location.reload();
                    }
                },
                error: function (err) { window.alert('Error :: ' + err.statusText); }
            });
        });

        $('#delete').click(function () {
            $.ajax({
                url: resourceUrl + "/{{provider['id']}}",
                method: 'DELETE',
                headers: { ContentType: 'application/json' },
                success: function (data) {
                    $('#deleteModal').modal('hide');
                    alert_bs('Delete successful!', 'success');
                    window.location = "{{url_for('provider_index')}}"
                },
                error: function (err) { window.alert('Error :: ' + err.statusText); }
            });
        });

    });


    function showProxyDetail(proxy) {
        $('#proxyDetailModal').modal('show');
        $('#proxyProvider').html('{{provider.name}}');
        $('#proxyIp').html(proxy.ip);
        $('#proxyPort').html(proxy.port);
        $('#proxyDetailUrl').attr('href', ['/proxy/details/', proxy.id].join(''));
        $('#proxyFuncTestDate').html($.timeago(proxy.funcTestDate));
        $('#proxyAnonymity').html(proxy.anonymity);
        $('#proxyLastFoundDate').html($.timeago(proxy.lastFoundDate));
        $('#proxyDiscoveredDate').html($.timeago(proxy.discoveredDate));
        
        $.ajax({
            url: [proxyUrl, '/', proxy.id, '?embed=True'].join(''),
            method: 'GET',
            success: function (data) {                
                testurls = data.testurls;
                div = $('#proxyTesturls p').html('')                
                for (i in testurls) {
                    rowText = '<a href="/testurl/details/' + testurls[i].id +'"><i class="fas fa-link fa-sm"></i></a> ' + testurls[i].url
                        + '<br/>'
                        + '<small class="pt-0 mt-0 pb-2">' + $.timeago(testurls[i].urlFuncTestDate) + '</small>'
                    p = $('<div class="bg-light mb-2 py-2 px-3"></div>').html(rowText);
                    div.append(p);
                }

                if (testurls && testurls.length == 0)
                    div = $('#proxyTesturls p').html('<div class="bg-light mb-2 py-2 px-3">None</div>')
            },
            error: function (err) {
                alert_bs('Error' + err, 'danger');
            }
        });

        $('#checkProxy').click(function () {            
            $.ajax({

            });
        });
    }

</script>
{% endblock %}