{% extends "layout.html" %}

{% block content %}

<h2 class="mb-4"><i class="fas fa-handshake"></i> {{ title }}</h2>

<nav class="navbar navbar-expand-sm navbar-dark bg-proxyally py-0">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white" onclick="populateAddModal()"><i class="fas fa-plus"></i> Add New</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('provider_index') }}"><i class="fas fa-retweet"></i> Refresh</a>
        </li>
    </ul>
    <div class="navbar-text ml-auto">
         <button id="syncAll" class="btn btn-primary">
             <i class="fas fa-sync-alt fa-sm"></i> Sync All
         </button>
    </div>
</nav>

<div class="border my-4 p-4">
    <div class="table-responsive">
        <table class="table table-hover" id="dataTable">
            <thead>
                <tr>
                    <th>Offered By</th>
                    <th>Base Address</th>
                    <th>Available Proxies</th>
                    <th>Last Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in providers['items'] %}
                <tr>
                    <td><a href="{{ url_for('provider_details', id=item['id']) }}" title="Details">{{item['name']}}</a></td>
                    <td>{{item['baseAddress']}}</td>
                    <td class="text-center">{{ item['proxies']|length }}</td>
                    <td>
                        {% if 'updateAttempt' in item %}
                            {% set _type=item['updateAttempt']['type'] | AttemptType %}
                            {% set _status=item['updateAttempt']['status'] %}
                            {% set _date=item['updateAttempt']['attemptDate'] %}
                            {% set _message=item['updateAttempt']['message'] %}

                            <span data-toggle="tooltip" title="{{'' if _status=='success' else _message}}">
                                <i class="fas fa-plug text-{{'success' if _status=='success' else ('info' if _status=='partial' else 'warning')}}"></i> {{ _type }}
                            </span>
                            <div>
                                <small title="{{_date}}">{{_status}} - {{_date|timeago_fromiso}}</small><br/>
                                {% if 'proxyCount' in item['updateAttempt'] %}
                                    {% set _type=item['updateAttempt']['type'] | AttemptTypePassive %}
                                    <small class="border-top">{{ _type + ': ' + item['updateAttempt']['proxyCount'] }}</small>
                                {% endif %}
                            </div>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <div class="btn-group btn-group-lg">
                            <a href="{{ url_for('provider_details', id=item['id']) }}" class="btn btn-light" data-toggle="tooltip" title="Details">
                                <i class="fas fa-file-alt text-proxyally"></i>
                            </a>
                            {% set _upToDate = True if 'updateAttempt' in item and item['updateAttempt']['type']=='syncDB_funcTest' and (item['updateAttempt']['status']=='success' or item['updateAttempt']['status']=='partial') else False %}
                            <a class="btn btn-light {{'disabled' if item['fetcher']=='None'}}"
                               data-toggle="tooltip"
                               title="{{'Up-To-Date: Sync Again?' if _upToDate else 'Sync Now'}}"
                               onclick="syncProvider(this, '{{ item.id }}')"
                            >
                                <i class="fas fa-sync-alt text-{{'primary' if _upToDate else 'danger'}}"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-proxyally">
                <h4 class="modal-title"><i class="fas fa-plus"></i> Add New Provider</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="card-body">
                    <div class="form-group">
                        <label for="baseAddress">Base Address</label>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter proxy list provider's address" id="baseAddress" name="baseAddress">
                            <div class="input-group-append">
                                <a id="pasteButton" class="btn btn-light border" href="#" onclick="readFromClipboard()" data-toggle="tooltip" title="Click to paste from clipboard"><i class="fas fa-paste text-proxyally"></i></a>
                            </div>
                        </div>
                        <div id="urlError" class="mb-3"></div>
                    </div>

                    <div class="form-group">
                        <label for="name">Name <i class="fas fa-info-circle text-proxyally" title="Optional field :: Auto-generated if not provided" data-toggle="tooltip"></i></label>
                        <input type="text" class="form-control" placeholder="Enter a friendly name" id="name" name="name">
                    </div>

                    <div class="form-group">
                        <label for="fetcher">Fetcher <i class="fas fa-info-circle text-proxyally" title="Leave it as 'None' if no suitable fetcher exists yet. Provide us comprehensive instructions and we will soon be back with a working fetcher" data-toggle="tooltip"></i></label>
                        <select id="fetcher" name="fetcher" class="custom-select">
                            <option value="None" selected>None</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="instructions">Instructions</label>
                        <textarea class="form-control" placeholder="Hints for extracting proxies from this list" id="instructions" name="instructions" rows="8"></textarea>
                    </div>

                    <div class="preview"></div>


                    <div class="form-group">
                        <label for="syncTestRadioButtons">Proxies <i class="fas fa-info-circle text-proxyally" title="You can sync and test now or later" data-toggle="tooltip"></i></label>
                        <div id="syncTestRadioButtons" class="border p-2 mb-3">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="syncTest1" name="syncTest" value="2">
                                <label class="custom-control-label" for="syncTest1">Test & Sync Now</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="syncTest2" name="syncTest" value="1" checked>
                                <label class="custom-control-label" for="syncTest2">Fetch Now but Test Later</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="syncTest3" name="syncTest" value="0" checked>
                                <label class="custom-control-label" for="syncTest3">Save for Later</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer bg-proxyally-light">
                <button id="submit" type="button" class="btn btn-primary btn-proxyally"><i class="fas fa-save"></i> Save</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fas fa-window-close"></i> Close</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/lib/datatables/jquery.dataTables.min.js"></script>
<script src="/static/lib/datatables/dataTables.bootstrap4.min.js"></script>
<script>
    var resourceUrl = [API_ROOT, '/providers'].join('');

    /* Index Page ------------------------------ */
    $(function () {
        $('#dataTable').DataTable({
            columnDefs: [
                { orderable: false, targets: [-1] }
            ]
        });

        $('#syncAll').click(function(){
            var i = $(this).find('i');
            i.attr("class", "spinner-border spinner-border-sm");

            $.ajax({
                url: resourceUrl,
                method: 'patch',
                statusCode: {
                    204: function() {
                        alert_bs('Sync performed!', 'info');
                        location.reload();
                    }
                },
                error: function (err) {
                    alert_bs(err.statusText, 'danger');
                }
            })
                .always(function() {
                    i.attr("class", "fas fa-sync-alt fa-sm");
                });
        });
    });

    function syncProvider(elem, providerId) {
        var i = $(elem).find('i');
        i.removeClass("fas fa-sync-alt");
        i.addClass("spinner-border spinner-border-md");

        $.ajax({
            url: resourceUrl + '/' + providerId,
            method: 'patch',
            statusCode: {
                204: function() {
                  alert_bs('<span class="spinner-border spinner-border-sm"></span> Sync performed! Redirecting to detail page ... ', 'info');
                  location.reload();
                  window.location.replace(APP_ROOT + '/provider/details/' + providerId);
                }
            },
            error: function (err) { alert_bs(err.statusText, 'danger'); }
        })
                .always(function() {
                    i.removeClass("spinner-border spinner-border-md");
                    i.addClass("fas fa-sync-alt");
                });
    }
    /* ----------------------------------------- */

    /* Add Modal ------------------------------- */

    function populateAddModal(){
        $.ajax({
            url: resourceUrl + '/fetchers',
            method: 'GET',
            statusCode: {
                200: function(fetchers) {
                    $('#fetcher').html('');
                    $('#fetcher').append('<option value="None" selected>None</option>')
                    for(i in fetchers){
                        fetcher = fetchers[i];
                        $('#fetcher').append('<option value="'+fetcher+'">'+fetcher+'</option>');
                    }
                }
            },
            error: function (err) { alert_bs(err.statusText, 'danger'); }
        })

        $('#addModal').modal('show');
    }

    function readFromClipboard() {
        return navigator.clipboard.readText().then(
            result => {
                //console.log("Successfully retrieved text from clipboard", result)
                elem = document.querySelector('#baseAddress');
                elem.value = result;
                return Promise.resolve(result);
            }
        ).catch(err => {
            console.log("Error! read text from clipbaord", err)
        })
    }

    function showUrlError() {
        $('#baseAddress').parent().attr('style', 'border: 1px solid red; border-radius: 5px');
        $('#urlError').show();
        $('#urlError').html('<span class="text-danger">Please enter a valid URL</span>');
    }

    $(function () {
        $('#baseAddress').click(function () {
            $('#baseAddress').parent().attr('style', '');
            $('#urlError').hide();
        });

        $('#submit').click(function (e) {
            if (!isValidURL($('#baseAddress').val())) {
                showUrlError();
                return;
            }

            data = {
                name: $('#name').val(),
                baseAddress: $('#baseAddress').val(),
                fetcher: $('#fetcher').val(),
                instructions: $('#instructions').val()
            };

            $.ajax({
                url: resourceUrl + '?syncTest=' + $('#syncTestRadioButtons input:checked').first().val(),
                method: 'post',
                data: data,
                headers: { ContentType: 'application/json' },
                success: function (data) {
                    // alert(data)
                    if (data.errors) {
                        raiseApiValidationError(data.errors);
                    } else if (data.status == 'error') {
                        alert_bs(data.message, 'danger');
                    }
                    else {
                        $('#addModal').modal('hide');
                        alert_bs('New Provider added successfully!', 'success');
                        location.reload();
                    }
                },
                error: function (err) { alert_bs(err.statusText, 'danger'); }
            });
        });
    });
    /* ----------------------------------------- */
</script>
{% endblock %}