{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<br />

<h5>
    Web Storage
</h5>
<p>
    Web storage, sometimes known as DOM storage (Document Object Model storage), provides web apps with methods and protocols for storing client-side data.
</p>
<p>
    Web storage offers two different storage areas -- local storage and session storage. We use session storage on our website. We store only some essential info such as authentication token.
</p>
<p>
    You can continue accessing our public services even after denying the storage permission.
</p>
{% endblock %}
