<!--<div class="alert alert-success alert-dismissible fade show mt-4">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
</div>-->


    <div class="card-body">
        <div class="form-group mt-3">
            <label for="updateInterval">Update Interval: <span id="updateIntervalLabel">10 min</span></label>
            <input type="range" class="custom-range" id="updateInterval" name="updateInterval" min="10" max="1440" step="10" value="10">
        </div>
        <div class="form-group">
            <label for="maxAge">Max Age: <span id="maxAgeLabel">1 week</span></label>
            <input type="range" class="custom-range" id="maxAge" name="maxAge" min="7" max="28" value="7">
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>


<script>
    $(document).ready(function () {
        $("#updateInterval").on("input", function () {
            value = $(this).val();
            if (value < 60) {
                value = value + " min";
            } else if (value < 24*60) {
                value = Math.floor(value/60) + " hr " + (value%60) + " min";
            } else {
                value = "1 day";
            }
            $("#updateIntervalLabel").html(value);

        });
        $("#maxAge").on("input", function () {
            value = $(this).val();
            if (value < 7) {
                value = value + " days";
            } else if (value < 29) {
                console.log(value)
                value = Math.floor(value / 7) + " weeks " + (value % 7) + " days";                
            } else {
                value = "1 mon";
            }
            $("#maxAgeLabel").html(value);
        });
    });
</script>