{% extends "layout.html" %}

{% block content %}

<h2 class="mb-4"><i class="fas fa-link"></i> {{ title }}</h2>

<nav class="navbar navbar-expand-sm navbar-dark bg-proxyally py-0">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('testurl_index') }}"><i class="fas fa-table"></i> Back To List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i> Edit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i> Delete</a>
        </li>
    </ul>
    <div class="navbar-text ml-auto">
        <button class="btn btn-primary" onclick="validateTesturl(this, '{{ testurl['id'] }}')"><i class="fas fa-check-double"></i> Validate Now</button>
    </div>
</nav>

<div class="card my-3">
    <div class="card-body">
        <dl class="row mt-md-2">
            <dt class="col-sm-2">
                URL
            </dt>
            <dd class="col-sm-10" id="testurl">
                {{testurl['url']}}
            </dd>
            <dt class="col-sm-2">
                Last Attempt
            </dt>
            <dd class="col-sm-10">
                {% if 'validationAttempt' in testurl%}
                    <span>
                        {{testurl['validationAttempt']['attemptDate']|timeago_fromiso}}
                    </span>
                    <span class="badge badge-{{'success' if testurl['validationAttempt']['status'] == 'success' else ('info' if testurl['validationAttempt']['status'] == 'partial' else 'warning')}}">
                        {{testurl['validationAttempt']['status']}}
                    </span>
                    {% if testurl['validationAttempt']['status'] != 'failed' %}
                        <span class="badge badge-secondary">
                            found: {{testurl['validationAttempt']['validProxyCount']}}
                        </span>
                    {% endif %}

                {% else %}
                    None
                {% endif %}
            </dd>
        </dl>

        <h4 class="text-center text-proxyally">
            - Validated Proxies -
        </h4>
        <div class="table-responsive pt-3">
            <table class="table table-hover border-bottom" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            Proxy
                        </th>
                        <th>
                            Anonymity Level
                        </th>
                        <th>
                            Last Checked
                        </th>
                        <th>
                            Last Validated
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="dataTable">
                    {% for proxy in testurl['proxies'] %}
                    <tr>
                        <td>
                            <a href="{{ url_for('proxy_details', id=proxy['id']) }}" data-toggle="tooltip" title="Details"><i class="fas fa-server fa-sm"></i> {{proxy['ip']}}:{{proxy['port']}}</a>
                        </td>
                        <td>
                            {{proxy['anonymity'] or 'Not determined yet'}}
                        </td>
                        <td>
                            {{proxy['funcTestDate']|timeago_fromiso or 'Not tested yet'}}
                        </td>
                        <td>
                            {% if 'validationTestDate' in proxy %}
                                <div>
                                    {{proxy['validationTestDate']|timeago_fromiso}}
                                </div>
                                <span class="badge badge-{{'success' if proxy['validationTestStatus'] == 'success' else 'warning'}}">
                                    {{proxy['validationTestStatus']}}
                                </span>
                            {% else %}
                                Not Yet
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <div class="btn-group btn-group-lg">
                                <a href="{{ url_for('proxy_details', id=proxy['id']) }}" class="btn btn-light" data-toggle="tooltip" title="See details"><i class="fas fa-file-alt text-proxyally"></i></a>
                                {% set _upToDate = True if 'validationTestStatus' in proxy and proxy['validationTestStatus']=='success' else false %}
                                <a class="btn btn-light" data-toggle="tooltip" title="{{'Up-To-Date. Validate Again?' if _upToDate else 'Validate Now'}}" onclick="validateProxy(this, '{{proxy['id']}}')">
                                    <i class="fas fa-check-double text-{{'primary' if _upToDate else 'danger'}}"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer bg-proxyally-light">
        <div class="py-3 mt-1"></div>
    </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-proxyally">
                <h4 class="modal-title"><i class="fas fa-edit"></i> Edit this URL</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="card-body">
                    <div class="form-group">
                        <label for="testurl_edit">URL</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter test url" id="testurl_edit" name="testurl_edit">
                            <div class="input-group-append">
                                <a id="pasteButton" class="btn btn-light border" href="#" onclick="readFromClipboard()" data-toggle="tooltip" title="Click to paste from clipboard"><i class="fas fa-paste text-proxyally"></i></a>
                            </div>
                        </div>
                        <div id="urlError"></div>
                    </div>                    
                    <div class="form-group">
                        <label for="validateUrlCheckBoxes">Proxies <i class="fas fa-info-circle text-proxyally" title="You can validate now or later" data-toggle="tooltip"></i></label>
                        <div id="validateUrlCheckBoxes" class="border p-2 mb-3">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="validateUrl1" name="validateUrl" value="true">
                                <label class="custom-control-label" for="validateUrl1">Validate Now</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="validateUrl2" name="validateUrl" value="false" checked>
                                <label class="custom-control-label" for="validateUrl2">Save for Later</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer bg-proxyally-light">
                <button id="edit" type="button" class="btn btn-primary btn-proxyally"><i class="fas fa-save"></i> Save</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fas fa-window-close"></i> Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-trash"></i> Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5 class=" text-center"><i class="fas fa-exclamation-triangle text-warning"> </i> Are you sure want to delete this URL?</h5>
</div>

            <!-- Modal footer -->
            <div class="modal-footer bg-proxyally-light">
                <button id="delete" type="button" class="btn btn-danger">Confirm</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="/static/lib/datatables/jquery.dataTables.min.js"></script>
<script src="/static/lib/datatables/dataTables.bootstrap4.min.js"></script>
<script>   
    var resourceUrl = API_ROOT + '/testurls';
    var proxyUrl = API_ROOT + '/proxies';

    /* Detail page ------------------------------ */
    $(document).ready(function () {
        $('#dataTable').DataTable({
            columnDefs: [
                { orderable: false, targets: [-1] }
            ]
        });
    });

    function validateTesturl(elem, testurlId) {
        var i = $(elem).find('i');
        i.removeClass("fas fa-check-double");
        i.addClass("spinner-border spinner-border-md");

        $.ajax({
            url: resourceUrl + '/' + testurlId,
            method: 'patch',
            statusCode: {
                204: function() {
                  alert_bs('<span class="spinner-border spinner-border-sm"></span> Validation performed! Please wait ... ', 'info');
                  location.reload();
                }
            },
            error: function (jqXHR) {
                responseJSON = JSON.parse(jqXHR.responseText);
                alert_bs(responseJSON.message, 'danger');
                location.reload();
                //window.location.replace(APP_ROOT + 'proxy/details/' + proxyId);
            }
        })
                .always(function() {
                    i.removeClass("spinner-border spinner-border-md");
                    i.addClass("fas fa-check-double");
                });
    }

    function validateProxy(elem, proxyId) {
        var i = $(elem).find('i');
        i.removeClass("fas fa-check-double");
        i.addClass("spinner-border spinner-border-md");

        $.ajax({
            url: proxyUrl + '/' + proxyId + '?validate=true',
            method: 'patch',
            statusCode: {
                204: function() {
                  alert_bs('<span class="spinner-border spinner-border-sm"></span> Validation performed! Redirecting to detail page ... ', 'info');
                  //location.reload();
                  window.location.replace(APP_ROOT + 'proxy/details/' + proxyId);
                }
            },
            error: function (jqXHR) {
                responseJSON = JSON.parse(jqXHR.responseText);
                alert_bs(responseJSON.message, 'danger');
                location.reload();
            }
        })
                .always(function() {
                    i.removeClass("spinner-border spinner-border-md");
                    i.addClass("fas fa-check-double");
                });
    }
    /* ------------------------------------------ */


    /* Edit modal ------------------------------- */
    function readFromClipboard() {
        return navigator.clipboard.readText().then(
            result => {
                //console.log("Successfully retrieved text from clipboard", result)
                elem = document.querySelector('#testurl_edit');
                elem.value = result;
                return Promise.resolve(result);
            }
        )
            .catch(
                err => {
                    console.log("Error! read text from clipbaord", err)
                })
    }

    function showUrlError() {
        $('#testurl_edit').parent().attr('style', 'border: 1px solid red');
        $('#urlError').show();
        $('#urlError').html('<font color="red">Please enter a valid URL</font>');
    }

    $(function () {
        $('#editModal').on('shown.bs.modal', function () {
            $('#testurl_edit').val($('#testurl').text().trim());
        });

        $('#testurl_edit').click(function () {
            $('#testurl_edit').parent().attr('style', '');
            $('#urlError').hide();
        });

        $('#edit').click(function () {
            if (!isValidURL($('#testurl_edit').val())) {
                showUrlError();
                return;
            }
            data = {
                url: $('#testurl_edit').val()
            };
            $.ajax({
                url: resourceUrl + "/{{testurl['id']}}" + '?validate=' + $('#validateUrlCheckBoxes input:checked').first().val(),
                method: 'PUT',
                data: data,
                headers: { ContentType: 'application/json' },
                success: function (data) {
                    $('#testurl').text($('#testurl_edit').text().trim());
                    $('#editModal').modal('hide');
                    alert_bs('<div class="text-center">Test URL updated successfully!<br/><span class="spinner-border spinner-border-sm"></span> Reloading ... </div>', 'success');
                    location.reload();
                },
                error: function (jqXHR) {
                    responseJSON = JSON.parse(jqXHR.responseText);
                    alert_bs(responseJSON.message, 'danger');
                    location.reload();
                }
            });
        });
    });
    /* ------------------------------------------ */


    /* Delete modal ----------------------------- */
    $(function () {
        $('#delete').click(function () {
                $.ajax({
                    url: resourceUrl + "/{{testurl['id']}}",
                    method: 'DELETE',
                    headers: { ContentType: 'application/json' },
                    success: function (data) {
                        $('#deleteModal').modal('hide');
                        alert_bs('Deleted successfully', 'success');
                        window.location = "{{url_for('testurl_index')}}"
                    },
                    error: function (err) { window.alert('Error :: ' + err.statusText); }
                });
        });
    });
    /* ------------------------------------------ */
</script>
{% endblock %}