a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: rgba(0, 95, 80, 1.0);
    cursor: pointer;
}

a:hover {
    color: rgba(0, 95, 80, 0.75);
    cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.bg-proxyally {
    background-color: #005F50 !important;
}

.bg-proxyally-light {
    background-color: rgba(0, 95, 80, 0.1) !important
}

.bg-proxyally-5 {
    background-color: rgba(0, 95, 80, 0.5) !important
}

.text-proxyally {
    color: #005F50 !important
}


.btn-proxyally {
    background-color: #005F50 !important;
    border-color: black;
}


    .btn-proxyally:hover {
        background-color: rgba(0, 95, 80, 0.80) !important
    }

.link-proxyally:hover {
    text-decoration: none !important;
    cursor: pointer;
}


.badge-proxally {
    background-color: rgba(0, 95, 80, 1.0) !important
}

.badge-proxally-light {
    background-color: rgba(0, 95, 80, 0.1) !important
}


#ex1Slider .slider-selection {
    background: #BABABA;
}

/* Customize bs4 custom range -------------------------------------------------- */

.custom-range::-webkit-slider-thumb {
    background: #005F50;
}

.custom-range::-moz-range-thumb {
    background: #005F50;
}

.custom-range::-ms-thumb {
    background: #005F50;
}

.custom-range::-webkit-slider-thumb:active {
    background-color: rgba(0, 95, 80, 0.8)
}

.custom-range::-moz-range-thumb:active {
    background: rgba(0, 95, 80, 0.8)
}

.custom-range::-ms-thumb:active {
    background: rgba(0, 95, 80, 0.8)
}
/* Customize bs4 custom range -------------------------------------------------- */


/* Customize  bs4 custom radio button -------------------------------------------------- */
/* This is the checked state */
.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-color: rgba(0, 95, 80, 0.8); /* green */
    border-radius: 50%;
}

/* the shadow; displayed while the element is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 95, 80, 0.25); /* pink, 25% opacity */
}
/* Customize  bs4 custom radio button -------------------------------------------------- */


.page-item.active .page-link {
    color: #fff;
    background-color: rgba(0, 95, 80, 0.9);
    border-color: rgba(0, 95, 80, 1.0);
}

.page-link {    
    color: rgba(0, 95, 80, 0.75);
}

.page-link:hover {
    color: rgba(0, 95, 80, 10);
}


/*****************************/
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: rgba(0, 95, 80, 10);
    border-color: rgba(0, 95, 80, 10);
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 95, 80, 0.1);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: rgba(0, 95, 80, 0.5);
}


/* ---------------------------------------- */
.spinner-border-md {
  width: 1.3rem;
  height: 1.3rem;
}


.table-zero tr td{
  padding: 0.065rem !important;
  margin: 0 !important;
}